* {
    box-sizing: border-box;
}

body {
    max-width: 1080px;
    margin: 0 auto;
    font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
}
.irst-div{
  width: 35%;
  height: 35%;
}

#profile-photo{
  width: 35%;
  height: 35%;
}
h3{
  font-size: 100%;
}

table{
  position: absolute;
}
#profile{
  width: 30%;
  height: 30%;
}
.profile {
   width: 50%;
   align-self: flex-start;
 }
 